/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.625rem;

  --background: var(--color-surface-3);

  --foreground: var(--color-surface-12);

  --card: --alpha(var(--color-surface-4) / 100%);

  --card-foreground: var(--color-surface-12);

  --popover: var(--color-surface-2);

  --popover-foreground: var(--color-surface-12);

  --primary: var(--color-primary-9);

  --primary-foreground: var(--color-primary-contrast);

  --secondary: var(--color-secondary-9);

  --secondary-foreground: var(--color-secondary-contrast);

  --muted: var(--color-surface-4);

  --muted-foreground: var(--color-surface-11);

  --accent: var(--color-surface-7);

  --accent-foreground: var(--color-surface-11);

  --destructive: oklch(0.577 0.245 27.325);

  --border: var(--color-surface-8);

  --input: var(--color-surface-8);

  --ring: var(--color-primary-8);

  --chart-1: oklch(0.646 0.222 41.116);

  --chart-2: oklch(0.6 0.118 184.704);

  --chart-3: oklch(0.398 0.07 227.392);

  --chart-4: oklch(0.828 0.189 84.429);

  --chart-5: oklch(0.769 0.188 70.08);

  --sidebar: oklch(0.985 0.001 106.423);

  --sidebar-foreground: oklch(0.147 0.004 49.25);

  --sidebar-primary: oklch(0.216 0.006 56.043);

  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);

  --sidebar-accent: oklch(0.97 0.001 106.424);

  --sidebar-accent-foreground: oklch(0.216 0.006 56.043);

  --sidebar-border: oklch(0.923 0.003 48.717);

  --sidebar-ring: oklch(0.709 0.01 56.259);
}

.dark {
  --background: var(--color-surface-3);

  --foreground: var(--color-surface-12);

  --card: --alpha(var(--color-surface-4) / 100%);

  --card-foreground: var(--color-surface-12);

  --popover: var(--color-surface-2);

  --popover-foreground: var(--color-surface-12);

  --primary: var(--color-primary-9);

  --primary-foreground: var(--color-primary-contrast);

  --secondary: var(--color-secondary-9);

  --secondary-foreground: var(--color-secondary-contrast);

  --muted: var(--color-surface-4);

  --muted-foreground: var(--color-surface-11);

  --accent: var(--color-surface-7);

  --accent-foreground: var(--color-surface-11);

  --destructive: oklch(0.704 0.191 22.216);

  --border: var(--color-surface-8);

  --input: var(--color-surface-8);

  --ring: var(--color-primary-8);

  --chart-1: oklch(0.488 0.243 264.376);

  --chart-2: oklch(0.696 0.17 162.48);

  --chart-3: oklch(0.769 0.188 70.08);

  --chart-4: oklch(0.627 0.265 303.9);

  --chart-5: oklch(0.645 0.246 16.439);

  --sidebar: oklch(0.216 0.006 56.043);

  --sidebar-foreground: oklch(0.985 0.001 106.423);

  --sidebar-primary: oklch(0.488 0.243 264.376);

  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);

  --sidebar-accent: oklch(0.268 0.007 34.298);

  --sidebar-accent-foreground: oklch(0.985 0.001 106.423);

  --sidebar-border: oklch(1 0 0 / 10%);

  --sidebar-ring: oklch(0.553 0.013 58.071);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);

  --radius-md: calc(var(--radius) - 2px);

  --radius-lg: var(--radius);

  --radius-xl: calc(var(--radius) + 4px);

  --color-background: var(--background);

  --color-foreground: var(--foreground);

  --color-card: var(--card);

  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);

  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);

  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);

  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);

  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);

  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);

  --color-border: var(--border);

  --color-input: var(--input);

  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);

  --color-chart-2: var(--chart-2);

  --color-chart-3: var(--chart-3);

  --color-chart-4: var(--chart-4);

  --color-chart-5: var(--chart-5);

  --color-sidebar: var(--sidebar);

  --color-sidebar-foreground: var(--sidebar-foreground);

  --color-sidebar-primary: var(--sidebar-primary);

  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);

  --color-sidebar-accent: var(--sidebar-accent);

  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);

  --color-sidebar-border: var(--sidebar-border);

  --color-sidebar-ring: var(--sidebar-ring);

  --ring: var(--ring);

  --input: var(--input);

  --border: var(--border);

  --accent-foreground: var(--accent-foreground);

  --accent: var(--accent);

  --muted-foreground: var(--muted-foreground);

  --muted: var(--muted);

  --secondary-foreground: var(--secondary-foreground);

  --secondary: var(--secondary);

  --primary-foreground: var(--primary-foreground);

  --primary: var(--primary);

  --popover-foreground: var(--popover-foreground);

  --popover: var(--popover);

  --card-foreground: var(--card-foreground);

  --card: var(--card);

  --foreground: var(--foreground);

  --background: var(--background);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  :root {
    --iris-1: #fdfdff;
    --iris-2: #f8f8ff;
    --iris-3: #f0f1fe;
    --iris-4: #e6e7ff;
    --iris-5: #dadcff;
    --iris-6: #cbcdff;
    --iris-7: #b8baf8;
    --iris-8: #9b9ef0;
    --iris-9: #5b5bd6;
    --iris-10: #5151cd;
    --iris-11: #5753c6;
    --iris-12: #272962;
    --iris-contrast: white;
    --color-primary-1: var(--iris-1);
    --color-primary-2: var(--iris-2);
    --color-primary-3: var(--iris-3);
    --color-primary-4: var(--iris-4);
    --color-primary-5: var(--iris-5);
    --color-primary-6: var(--iris-6);
    --color-primary-7: var(--iris-7);
    --color-primary-8: var(--iris-8);
    --color-primary-9: var(--iris-9);
    --color-primary-10: var(--iris-10);
    --color-primary-11: var(--iris-11);
    --color-primary-12: var(--iris-12);
    --color-primary-contrast: var(--iris-contrast);
    --slate-1: #fcfcfd;
    --slate-2: #f9f9fb;
    --slate-3: #f0f0f3;
    --slate-4: #e8e8ec;
    --slate-5: #e0e1e6;
    --slate-6: #d9d9e0;
    --slate-7: #cdced6;
    --slate-8: #b9bbc6;
    --slate-9: #8b8d98;
    --slate-10: #80838d;
    --slate-11: #60646c;
    --slate-12: #1c2024;
    --slate-contrast: white;
    --color-surface-1: var(--slate-1);
    --color-surface-2: var(--slate-2);
    --color-surface-3: var(--slate-3);
    --color-surface-4: var(--slate-4);
    --color-surface-5: var(--slate-5);
    --color-surface-6: var(--slate-6);
    --color-surface-7: var(--slate-7);
    --color-surface-8: var(--slate-8);
    --color-surface-9: var(--slate-9);
    --color-surface-10: var(--slate-10);
    --color-surface-11: var(--slate-11);
    --color-surface-12: var(--slate-12);
    --color-surface-contrast: var(--slate-contrast);
  }
  .dark {
    --iris-1: #13131e;
    --iris-2: #171625;
    --iris-3: #202248;
    --iris-4: #262a65;
    --iris-5: #303374;
    --iris-6: #3d3e82;
    --iris-7: #4a4a95;
    --iris-8: #5958b1;
    --iris-9: #5b5bd6;
    --iris-10: #6e6ade;
    --iris-11: #b1a9ff;
    --iris-12: #e0dffe;
    --slate-1: #111113;
    --slate-2: #18191b;
    --slate-3: #212225;
    --slate-4: #272a2d;
    --slate-5: #2e3135;
    --slate-6: #363a3f;
    --slate-7: #43484e;
    --slate-8: #5a6169;
    --slate-9: #696e77;
    --slate-10: #777b84;
    --slate-11: #b0b4ba;
    --slate-12: #edeef0;
  }
}